<template>
  <a class="a-link"
     :href="href"
     :target="target"
     @click="hijack"
  ><slot></slot></a>
</template>

<script src="./link.js" defer></script>
<style lang="scss" scoped>@import "./link";</style>

