<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <a-title>Essential Links</a-title>
    <m-link-list :links="links.essential"></m-link-list>
    <a-title>Ecosystem</a-title>
    <m-link-list :links="links.ecosystem"></m-link-list>
  </div>
</template>

<script src="./hello-world.js" defer></script>
<style lang="scss" scoped>@import "./hello-world";</style>

