<template>
  <ul class="m-link-list">
    <li class="m-link-list__item" v-for="link in links">
      <a-link
        :href="link.href"
        :target="link.target"
      >{{link.label}}</a-link>
    </li>
  </ul>
</template>

<script src="./link-list.js" defer></script>
<style lang="scss" scoped>@import "./link-list";</style>

